<?xml version="1.0"?>
<config>
    <modules>
        <Made_Cloudinary>
            <version>1.1.2</version>
        </Made_Cloudinary>
    </modules>
    <global>
        <models>
            <made_cloudinary>
                <class>Made_Cloudinary_Model</class>
                <resourceModel>cloudinary_resource</resourceModel>
            </made_cloudinary>
            <cms>
                <rewrite>
                    <adminhtml_template_filter>Made_Cloudinary_Model_Cms_Adminhtml_Template_Filter</adminhtml_template_filter>
                </rewrite>
            </cms>
            <catalog>
                <rewrite>
                    <product_image>Made_Cloudinary_Model_Catalog_Product_Image</product_image>
                    <product_media_config>Made_Cloudinary_Model_Catalog_Product_Media_Config</product_media_config>
                </rewrite>
            </catalog>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Made_Cloudinary_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
            <core>
                <rewrite>
                    <file_uploader>Made_Cloudinary_Model_Cms_Uploader</file_uploader>
                </rewrite>
            </core>
            <cloudinary_resource>
                <class>Made_Cloudinary_Model_Resource</class>
                <entities>
                    <sync>
                        <table>cloudinary_sync</table>
                    </sync>
                    <migration>
                        <table>cloudinary_migration</table>
                    </migration>
                    <catalog_media_gallery>
                        <table>catalog_product_entity_media_gallery</table>
                    </catalog_media_gallery>
                </entities>
            </cloudinary_resource>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <page_menu>Made_Cloudinary_Block_Adminhtml_Page_Menu</page_menu>
                </rewrite>
            </adminhtml>
            <made_cloudinary>
                <class>Made_Cloudinary_Block</class>
            </made_cloudinary>
        </blocks>
        <cms>
            <page>
                <tempate_filter>made_cloudinary/cms_template_filter</tempate_filter>
            </page>
            <block>
                <tempate_filter>made_cloudinary/cms_template_filter</tempate_filter>
            </block>
        </cms>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Made_Cloudinary_Helper_Image</image>
                </rewrite>
            </catalog>
            <made_cloudinary>
                <class>Made_Cloudinary_Helper</class>

            </made_cloudinary>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <upload_images_to_cloudinary>
                        <type>singleton</type>
                        <class>made_cloudinary/observer</class>
                        <method>uploadImagesToCloudinary</method>
                    </upload_images_to_cloudinary>
                </observers>
            </catalog_product_save_after>
            <catalog_product_save_before>
                <observers>
                    <delete_images_from_cloudinary>
                        <type>singleton</type>
                        <class>made_cloudinary/observer</class>
                        <method>deleteImagesFromCloudinary</method>
                    </delete_images_from_cloudinary>
                </observers>
            </catalog_product_save_before>
            <controller_front_init_before>
                <observers>
                    <load_custom_autoloaders>
                        <type>singleton</type>
                        <class>made_cloudinary/observer</class>
                        <method>loadCustomAutoloaders</method>
                    </load_custom_autoloaders>
                </observers>
            </controller_front_init_before>
        </events>
        <resources>
            <cloudinary_setup>
                <setup>
                    <module>Made_Cloudinary</module>
                </setup>
            </cloudinary_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <model_config_data_save_before>
                <observers>
                    <validate_cloudinary_credentials>
                        <class>made_cloudinary/observer</class>
                        <method>validateCloudinaryCredentials</method>
                    </validate_cloudinary_credentials>
                </observers>
            </model_config_data_save_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <made_cloudinary before="Mage_Adminhtml">Made_Cloudinary_Adminhtml</made_cloudinary>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <cloudinary>
            <transformations>
                <cloudinary_fetch_format>1</cloudinary_fetch_format>
                <cloudinary_image_quality>80</cloudinary_image_quality>
                <cloudinary_image_dpr>1.0</cloudinary_image_dpr>
            </transformations>
            <config>
                <cloudinary_cdn_subdomain>1</cloudinary_cdn_subdomain>
            </config>
        </cloudinary>
    </default>
    <crontab>
        <jobs>
            <cloudinary_migrate>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>made_cloudinary/cron::migrateImages</model>
                </run>
            </cloudinary_migrate>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <adminhtml_cloudinary>
                    <file>cloudinary/cloudinary.xml</file>
                </adminhtml_cloudinary>
            </updates>
        </layout>
    </adminhtml>
</config>
